.home{
	.web{
		.content{
			display: flex;
			flex-wrap: wrap;
			@my-card:card;
      .list{
        margin: 20px;
        .@{my-card}_label{
				font-family: cursive;
				font-weight: 600;
				font-size: 20px;
			}
			.@{my-card}_num{
				font-family: 'show_date';
				font-weight: 600;
				font-size: 20px;
			}
      }
			
		}
	}
}