.manage {
  padding: 30px;

  .cardView {
    background: #FFFFFF;
    box-sizing: border-box;

    img {
      width: 16px;
      height: 16px;
    }

    .list {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .cell {
        background-color: #F4F7F8;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 14px;
        color: #2c3e50;
       
        p {
          font-family: "cFont";
        }

        span {
          font-family: "eFontL";
        }

        .tool {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;

          img {
            border-radius: 4px;
            width: 24px;
            height: 24px;

            &:hover {
              cursor: pointer;
            }

          }
        }

        &:hover {
          cursor: pointer;
          background-color: #2c3e50;
          color: #FFFFFF;
        }
      }

      .cell_ {
        background-color: #2c3e50;
        color: #FFFFFF;
      }

    }

    .no_data {
      padding: 60px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
      }

      h4 {
        color: #808b96;
        font-family: 'cFont';
      }
    }
  }

  .web_view {
    .cardView();
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
  }

  .table_view {
    .cardView();
    float: left;
    margin-top: 20px;
    width: 20vw;
    height: 80vh;
    padding: 20px;
  }

  .field_view {
    .cardView();
    width: 60vw;
    height: 80vh;
    float: right;
    margin: 20px 0 0 20px;
    padding: 20px;
  }

  .dialog_view {
    .markView {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .cardView {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #FFFFFF;
      position: relative;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .closeView {
      position: absolute;
      right: -8px;
      top: -4px;
      width: 28px;
      height: 28px;
      border-width: 2px;
      border-style: solid;
      box-sizing: border-box;
      border-radius: 10px;

      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    .headerView {
      color: #2C3E50;
      font-family: "cFont";
      text-align: center;
      font-size: 20px;
    }

    .mainView {
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .item {
        label {
          font-size: 12px;
          color: #2C3E50;
          margin-bottom: 4px;
          font-family: 'eFontL';

          p {
            color: red;
            display: inline;
          }
        }
      }


      .upload {
        width: 100%;

        label {
          font-size: 12px;
          color: #2C3E50;
          margin-bottom: 4px;
          font-family: 'eFontL';

          p {
            color: red;
            display: inline;
          }
        }
      }


    }

    .footerView {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 100px;

      .buttonView {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        padding: 8px;
        border-radius: 12px;
        position: relative;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .button {
        .buttonView();
      }

      .cancel_button {
        .buttonView();
        background-color: #808b96;
      }
    }

    .add_edit_web {
      .markView();

      .card_web {
        .cardView();
        top: 40%;
        width: 300px;

        .close {
          .closeView();
        }

        .header {
          .headerView();
        }

        .main {
          .mainView();
        }

        .footer {
          .footerView();
          bottom: -4%;
        }


      }
    }

    .add_edit_table {
      .markView();

      .card_table {
        .cardView();
        top: 40%;
        width: 300px;

        .close {
          .closeView();
        }

        .header {
          .headerView();
        }

        .main {
          .mainView();
        }

        .footer {
          .footerView();
          bottom: -5%;
        }


      }
    }

    .add_edit_field {
      .markView();

      .card_field {
        .cardView();
        top: 40%;
        width: 300px;

        .close {
          .closeView();
        }

        .header {
          .headerView();
        }

        .main {
          .mainView();
        }

        .footer {
          .footerView();
          bottom: -3%;
        }


      }
    }
    .remove {
      .markView();

      .card_remove {
        .cardView();
        top: 40%;
        width: 300px;

        .close {
          .closeView();
          border-color:#FF4757; 
        }

        .header {
          .headerView();
        }

        .main {
          padding:30px 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            font-size: 16px;
            font-family: "cFont";
            color: #2C3E50;
          }
    
          span {
            font-size: 12px;
            font-family: "cFont";
            color: #808b96;
          }
        }

        .footer {
          .footerView();
          bottom: -9%;
          .button{
            background-color: #FF4757;
          }
        }


      }
    }
  }
}