.music_group {
    .content {
      padding: 10px 20px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 82vh;
    }
  }
  
  .vs-navbar-content {
    position: relative;
    padding: 0px;
  
    .vs-navbar__item {
      font-size: 20px;
      min-height: 66px;
    }
  }
  
  
 