.music_user {
    padding: 20px;
  
    .tag {
      position: fixed;
      right: 20px;
      top: 60px;
    }
  
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .vs-switch {
    max-width: 48px;
  }